$accentColor: #e51c23;
// $accentColor: #2196F3;
nav {
  background-color: $accentColor;
}


.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card {
  border-radius: 20px;

  .card-rating {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px;

    .rating {
      font-weight: bold;
    }
  }
}

.card-image {
  img {
    max-height: 300px;
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
  }
}

.card-content {
  .image-poster {
    border-radius: 2%;
    max-width: 200px;
    margin-right: 20px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.preloader-wrapper {
  margin: 30px;
}

@media only screen and (max-width: 500px){
  .flex-row {
    flex-direction: column;
  }
}
