nav {
  background-color: #e51c23; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 32px;
  /* fallback */
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

.card {
  border-radius: 20px; }
  .card .card-rating {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px; }
    .card .card-rating .rating {
      font-weight: bold; }

.card-image img {
  max-height: 300px;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat; }

.card-content .image-poster {
  border-radius: 2%;
  max-width: 200px;
  margin-right: 20px; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.preloader-wrapper {
  margin: 30px; }

@media only screen and (max-width: 500px) {
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
